.airflow_venv/
# Git
.git
.gitignore

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
env/
venv/

# OS/editor
.DS_Store
*.swp
*.swo

# Data and models (mounted at runtime)
data/raw/
data/processed/
models/
notebooks/
*.ipynb
.ipynb_checkpoints/

# Local env files
.env
